<!DOCTYPE html>
<html lang="en">

{{template "head"}}

<body>

    <main class="flex flex-col items-center justify-between p-24">
        <a href="/">
            <span class="material-symbols-outlined absolute top-10 left-10 m-4">
                arrow_back_ios
            </span>
        </a>
        <h1>Web Design</h1>
        <p>A list of websites I think are cool</p>

        <li>
            <a href="https://www.nardone-automotive.com/the-928">
                Nardone Automotive
            </a>
        </li>
        <li>
            <a href="https://www.typewolf.com/">Typewolf</a>
        </li>
    </main>

</html>