@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 8, 76, 207;
    --background-start-rgb: 255, 255, 227;
    --background-end-rgb: 255, 255, 227;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

a:hover {
    color: rgb(168, 190, 233);
}
